
@{
    
    ViewBag.Title = "Index";
}

<!--START Debug Row-->
    <div id="divDebugRow" class="row">
        <div id="divDebug" class="col-md-10 alert alert-info"></div>
    </div>
    <!-- END Debug Row -->

    <!-- START Alert Row -->
    <div id="divAlertRow" class="row">
        <div id="divAlert" class="col-md-10"></div>
    </div>
    <!-- END Alert Row -->

    <div id="divControlRow" class="row">
        <div id="divControls" class="col-md-10">
            
        </div>
    </div>    

    <!-- START Action Window -->
    <div id="actionWindow" class="row">
        <div class="col-md-10">
            <!--Backbone view are rendered inside this div-->
            <div id="actionWindowContainer" style=""></div>
        </div>
    </div>
    <!-- END Action Window-->

<!--START Templates -->
<script type="text/template" id="control-template">
<p>Enter Twitter Handles: <input type="text" class="handleInput" value="" autofocus="autofocus"/>&nbsp;&nbsp;<input class="btnGetTweets btn btn-default btn-primary" type="button" value="Get Tweets" /></p>
</script>

<script type="text/template" id="tweetData-template">
<div class="row">
    <div class="col-md-6">
        <p style="display:<%=(Posts.length==0)?'block':'none'%>">No data available</p>
        
        <ul class="list-unstyled">
        <% _.each(Posts, function(post){ %>
            <li>
                <strong><%=post.UserID%></strong><br />
                <em><%=post.created_at_datetime%></em><br />
                <blockquote><div><%=post.text%><br /></div></blockquote>
                <hr />
            </li>
            
        <% }); %>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Stats</h3>
        <% _.each(Stats, function(s){ %>
            <div class="well">
            <h4>Description: <%=s.Description%></h4>
            <h4>For user: <%=s.UserName%></h4>
            <ul class="list-unstyled">
            <% _.each(s.Stats, function(si){ %>
                <li>
                    <%=si.UserID%>&nbsp;(<%=si.Count%>)
                    <hr />
                </li>
            <% }); %>
            </ul>
            </div>
        <% }); %>
    </div>
</div>
</script>

<!--END Templates -->
